.MuiPaper-elevation1:hover {
    box-shadow: 0px 2px 10px #848485;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 768px) {
    .MuiTypography-h5 {
        font-size: 16px !important;
    }
    .MuiCardContent-root span {
        font-size: 16px !important;
    }
    .MuiCardContent-root .date {
        font-size: 14px !important;
    }
}
